/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
body {
  scroll-behavior: smooth;
}

* {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Montserrat", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  padding: 100px 0;
}

a {
  text-decoration: none;
}

.mobile {
  display: none;
}

header {
  border-bottom: 1px solid #BDBDBD;
  position: absolute;
  background-color: white;
  width: 100%;
  top: 0;
  z-index: 2;
}

header .logo img {
  max-width: 180px;
}

header .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
}

header .container nav a {
  font-size: 18px;
  padding: 10px;
  margin: 0 5px;
  color: black;
}

header .container .button a {
  display: block;
  background: #CDE322;
  color: black;
  padding: 15px 35px;
  font-size: 18px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 500;
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

header .container .button a:hover {
  background: #a8bb13;
}

header .container .button a:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.title {
  font-size: 40px;
  font-weight: 800;
  font-family: 'Kanit', 'Montserrat';
  font-style: italic;
  text-transform: uppercase;
}

.title b {
  font-family: 'Kanit', 'Montserrat';
  font-style: italic;
  color: #B5C62F;
  text-transform: uppercase;
}

.title.white {
  color: white;
}

.title.center {
  text-align: center;
}

.banner {
  background: url("assets/bg-capa.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.banner .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .container img {
  max-width: 700px;
  display: block;
  margin: 60px auto;
}

.banner .container a {
  margin-top: 20px;
  display: block;
  background: #CDE322;
  color: black;
  padding: 15px 35px;
  font-size: 18px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 350px;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 500;
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.banner .container a:hover {
  background: #a8bb13;
}

.banner .container a:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.white-bottom {
  display: block;
  width: 611px;
  height: 32px;
  border-radius: 96px 96px 0px 0px;
  position: absolute;
  bottom: 0;
  background-color: white;
  background-image: url("assets/bg-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: block;
  background: #CDE322;
  color: black;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
  text-align: center;
  padding: 15px 35px;
  padding: 23px 17px;
  font-size: 18px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 500;
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.button:hover {
  background: #a8bb13;
}

.button:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.nossas-modalidades {
  background: url("assets/bg-2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.nossas-modalidades .container {
  max-width: 1100px;
}

.nossas-modalidades .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10px;
}

.nossas-modalidades .header button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 38px;
}

.nossas-modalidades .modalidades {
  margin: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nossos-planos {
  background: url("assets/bg-green-4.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.nossos-planos p {
  font-size: 20px;
  color: white;
  font-weight: 300;
  font-style: italic;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  text-align: center;
}

.nossos-planos .planos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 42px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.nossos-planos .planos .plano {
  background: white;
  border: 5px solid #b5c62f;
  padding: 30px 54px;
  padding-top: 0;
  margin-top: 20px;
  max-width: 489px;
  width: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.nossos-planos .planos .plano .label {
  background: #343434;
  display: block;
  text-align: center;
  padding: 20px;
  color: white;
  font-weight: bold;
  border-radius: 0px 0px 40px 40px;
  max-width: 280px;
  position: relative;
  top: -23px;
  margin: 0 auto;
  font-size: 22px;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.433);
          box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.433);
}

.nossos-planos .planos .plano:hover {
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
}

.nossos-planos .planos .plano .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  font-size: 18px;
  line-height: 23px;
  color: #343434;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nossos-planos .planos .plano .info:nth-child(3) {
  margin: 30px 0;
}

.nossos-planos .planos .plano .info span {
  display: block;
  margin-top: 5px;
  font-size: 14px;
}

.siganos {
  background: url("assets/bg-green.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.siganos .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.siganos .container .telefone {
  position: absolute;
  bottom: 0;
  max-width: 870px;
  left: -100px;
}

.siganos .container .right-side {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.siganos .container .left-side {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.siganos .container .redes {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.siganos .container .redes .rede {
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  background: #CDE322;
  font-size: 24px;
  font-weight: 500;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.siganos .container .redes .rede .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 46px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.siganos .container .redes .rede .image.fb {
  position: relative;
  left: -10px;
}

.siganos .container .redes .rede:hover {
  background: #a8bb13;
}

.clientes {
  position: relative;
}

.gympass .title-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gympass p {
  display: block;
  max-width: 680px;
  line-height: 28px;
  font-size: 20px;
  text-align: center;
  margin: 20px auto;
}

.gympass p span {
  font-weight: 300;
  font-style: italic;
}

.endereco {
  padding: 20px 0;
  background-color: #FAFAFA;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.233);
          box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.233);
  position: relative;
}

.endereco .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.endereco .container img {
  max-width: 19px;
}

.endereco .container h2 {
  font-size: 24px;
  color: #343434;
  font-weight: bold;
  border-right: 1px solid;
  padding: 0 20px;
  margin-right: 20px;
}

.endereco .container p {
  font-size: 18px;
}

.contact {
  background-color: #343434;
  background: url("assets/bg-green-3.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact h2 {
  color: white;
  font-size: 25px;
  border-right: 2px solid white;
  padding-right: 40px;
  margin-right: 40px;
  position: relative;
  bottom: -5px;
}

.contact h2 b {
  font-size: 50px;
  font-weight: bold;
}

.contact .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.contact .phone-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.contact .phone-item img {
  width: 25px;
  height: 25px;
}

.contact .phone-item span, .contact .phone-item a {
  background: white;
  padding: 10px 25px;
  border-radius: 12px;
  font-weight: bold;
  color: black;
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.contact .phone-item span:hover, .contact .phone-item a:hover {
  background-color: #CDE322;
}

.contact .phone-item .type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .phone-item .type p {
  color: white;
  font-weight: 500;
}

footer {
  background-color: #080808;
  padding: 35px 0;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

footer .container .developer p {
  color: white;
  font-size: 21px;
  font-weight: 300;
}

.reveal {
  position: relative;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
}

.reveal.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

*::-webkit-scrollbar-button {
  background-color: #B5C62F;
}

*::-webkit-scrollbar-thumb {
  background-color: #B5C62F;
}

*::-webkit-scrollbar-track {
  background-color: #f8f9ff;
}

::-moz-selection {
  background-color: #B5C62F;
  color: white;
}

::selection {
  background-color: #B5C62F;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #B5C62F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #99a824;
}
/*# sourceMappingURL=style.css.map */