table {
    border-collapse: collapse;
    border-spacing: 0;
}

.horarios {
    margin-top: 120px;

    .musculacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;


        h2 {
            font-size: 30px;
            font-weight: 500;
            color: #343434;
        }

        .infos {
            display: flex;
            margin-top: 40px;

            .item {
                padding: 10px 40px;
                text-align: center;
                flex: 1;
                width: 300px;

                &.middle {
                    border-left: 1px solid #707070;
                    border-right: 1px solid #707070;
                }
            }

            p {
                font-size: 20px;
                color: #343434;
            }
        }
    }
}

.tabela {
    background: url('assets/woma-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

table {

    position: relative;

    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    z-index: 9;

    border-collapse: collapse;

    margin: 0 auto;

    &::after {
        content: "";
        position: absolute;
        background-color: black;
        opacity: .8;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }

    thead {
        display: table-header-group;
        vertical-align: middle;
        border-color: inherit;

        tr {
            background: #CDE322;
            position: relative;
            z-index: 9;

            th {
                border: none;
                font-weight: 500;
                text-align: center;
                color: black;
                font-family: "Kanit", sans-serif;
                font-size: 20px;
                padding: 30px 45px;
                position: relative;
                z-index: 2;

                &::after {
                    position: absolute;
                    content: '';
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    width: 1px;
                    height: 20px;
                    background-color: white;
                }
            }
        }
    }

    tbody {
        background-color: #00000091;
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;

        tr {
            position: relative;
            z-index: 9;
            border-bottom: 1px solid rgba(255, 255, 255, 0.7);

            td {
                border: none;
                font-weight: 400;
                text-align: center;
                color: white;
                font-family: "Kanit", sans-serif;
                font-size: 18px;
                padding: 15px 45px;
                border-right: 1px solid rgba(255, 255, 255, 0.7);
                position: relative;
                z-index: 2;

                &.sep {
                    background: #020202;
                }

                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transform: scale(0);
                    background-color: #CDE322;
                    box-shadow: 0 10px 20px #707c17;
                    transition: all 0.3s;
                    z-index: -1;
                }

                &.hover:hover {

                    &::after {
                        transform: scale(1);
                    }

                    color: black;
                    span {
                        color: black;
                    }
                }

                span {
                    color: #c4c4c4;
                    display: block;
                    font-size: 15px;
                    margin: 5px 0;
                }

            }
        }
    }



}