table {
  border-collapse: collapse;
  border-spacing: 0;
}

.horarios {
  margin-top: 120px;
}

.horarios .musculacao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.horarios .musculacao h2 {
  font-size: 30px;
  font-weight: 500;
  color: #343434;
}

.horarios .musculacao .infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.horarios .musculacao .infos .item {
  padding: 10px 40px;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 300px;
}

.horarios .musculacao .infos .item.middle {
  border-left: 1px solid #707070;
  border-right: 1px solid #707070;
}

.horarios .musculacao .infos p {
  font-size: 20px;
  color: #343434;
}

.tabela {
  background: url("assets/woma-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

table {
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  z-index: 9;
  border-collapse: collapse;
  margin: 0 auto;
}

table::after {
  content: "";
  position: absolute;
  background-color: black;
  opacity: .8;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

table tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

table thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

table thead tr {
  background: #CDE322;
  position: relative;
  z-index: 9;
}

table thead tr th {
  border: none;
  font-weight: 500;
  text-align: center;
  color: black;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  padding: 30px 45px;
  position: relative;
  z-index: 2;
}

table thead tr th::after {
  position: absolute;
  content: '';
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: 20px;
  background-color: white;
}

table tbody {
  background-color: #00000091;
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

table tbody tr {
  position: relative;
  z-index: 9;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

table tbody tr td {
  border: none;
  font-weight: 400;
  text-align: center;
  color: white;
  font-family: "Kanit", sans-serif;
  font-size: 18px;
  padding: 15px 45px;
  border-right: 1px solid rgba(255, 255, 255, 0.7);
  position: relative;
  z-index: 2;
}

table tbody tr td.sep {
  background: #020202;
}

table tbody tr td::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: #CDE322;
  -webkit-box-shadow: 0 10px 20px #707c17;
          box-shadow: 0 10px 20px #707c17;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}

table tbody tr td.hover:hover {
  color: black;
}

table tbody tr td.hover:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

table tbody tr td.hover:hover span {
  color: black;
}

table tbody tr td span {
  color: #c4c4c4;
  display: block;
  font-size: 15px;
  margin: 5px 0;
}

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.row-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Kanit';
  color: white;
  background: black;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 35px;
  font-size: 18px;
  background: #141414;
  font-family: 'Kanit';
  border-bottom: 1px solid black;
  color: #c4c4c4;
  font-size: 15px;
}

.row h1, .row h2, .row h3, .row p, .row span {
  font-family: 'Kanit', 'Montserrat';
}

.row .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Kanit';
  max-width: 95px;
  text-align: center;
}

.row .info h2 {
  font-weight: bold;
  font-family: 'Kanit', 'Montserrat';
}

.row .horario {
  font-weight: bold;
}

.accordion-item {
  background: #CDE322;
  color: #111;
  margin: 1rem 0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 4rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
  font-weight: 500;
}

.accordion-item-header::after {
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  content: "\f0da";
  font-size: 2rem;
  position: absolute;
  left: 2rem;
}

.accordion-item-header.active::after {
  content: "\f0d7";
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  padding: 0;
  padding-left: 0;
  line-height: 1.5rem;
  border-top: 1px solid;
  -o-border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#34495e), to(transparent)) 1;
     border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  font-size: 20px;
}

@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
}
/*# sourceMappingURL=table.css.map */